<%= link_to("Back to list", announcements_path, :class => 'back-link') %>

<div class="announcements edit">
    <h2>Update Announcement</h2>

    <%= simple_form_for(@announcement) do |f| %>

    <table summary="Announcement form fields">
    <tr>
        <th><%= f.input :title %></th>
    </tr>

    <tr>
        <th><%= f.input :description %></th>
    </tr>

    <tr>
        <th><%= f.input :address %></th>
    </tr>

    <tr>
        <div class="form-group">
            <th><%= f.input :avatar, as: :file %></th>
        </div>
    </tr>
    
    <tr>
        <th><%= f.input :activity %></th>
    </tr>
    </table> 

    <div class="form-buttons">
        <%= f.button :submit, "Update announcement", class: "btn-primary" %>
    </div>

    <% end %>
</div> 
