<div class="annoucements index">
    <h2>Announcements</h2>

    <%= form_tag search_announcements_path do %>
    <input class="search full-width" id="searchbar" name="query" placeholder="Search announcements" type="text" autocomplete="off">
    <% end %>

    <button type="button" class="btn btn-link">
    <%= link_to('Add new announcement', new_announcement_path, :class => 'action new') %>
    </button>

    <table class="table table-striped table-bordered" summary="Annoucement list">

        <thead class="thead-dark">
        <tr class="header">
            <th>Title</th>
            <th style="width:250px">Description</th>
            <th>Image</th>
            <th>Activity</th>
            <th>Tags</th>
            <th>Address</th>
            <th>Author</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>

        <% @announcements.each do |announce| %>
        <tr>
        <td><%= announce.title %></td>
        <td><%= truncate(announce.description, length: 163) %></td> 

        <td><% if announce.avatar.url %>
                <%= image_tag announce.avatar.url(:thumb) %>
            <% end %>
        </td>

        <td class="center"><%= announce.activity ? 'Yes' : 'No' %></td>

        <td>
            <% announce.tags.each do |f| %> 
            <%=  f.tag + ", " %>
            <% end %>
        </td>

        <td><%= announce.address %></td>

        <td class="center"><%= User.find(announce.user_id).name %></td>
        
        <td class="center"><%= announce.created_at %></td>
        <td class="actions table-active">
            <%= link_to("Show", announcement_path(announce), :class => 'action show') %>
            <%= link_to("Edit", edit_announcement_path(announce), :class => 'action edit') %>
            <%= link_to("Delete", delete_announcement_path(announce), :class => 'action delete') %>
        </td>
    </tr>
    <% end %>
    </table> 
</div> 
