<table summary="Admin user form fields">
    <tr>
        <th><%= f.input :username %></th>
    </tr>
    <tr>
        <th><%= f.input :first_name %></th>
    </tr>
    <tr>
        <th><%= f.input :last_name %></th>
    </tr>
    <tr>
        <th><%= f.input :email %></th>
    </tr>
    <tr>
        <th><%= f.input :password %></th>
    </tr>
    <tr>
        <div class="form-group">
            <th><%= f.input :avatar, as: :file %></th>
        </div>
    </tr>
</table>